@charset 'UTF-8';
//====================================
//  Typeface
//====================================

$font-set-primary: roboto, "Noto Sans JP", sans-serif;
$font-en: reross-quadratic, sans-serif;
$font-en-secondary: "Satisfy", cursive;
