@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

//====================================
//  Break
//====================================

/*
  Break
*/
.u-break {
  &.-xxs {
    @include mq(sm) {
      display: none;
    }
    display: inline-block;
  }

  &.-sm {
    display: block;

    @include mq(sm) {
      display: none;
    }
  }

  &.-md {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &.-lg {
    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &.-reverselg {
    display: block;

    @include mq(lg) {
      display: none;
    }
  }
}
