@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Button
*/
.c-button {
  display: block;
  position: relative;
  padding: 16px 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  color: $secondary-text-color;
  text-decoration: none;
  cursor: pointer;
  appearance: none;

  &.-icon {
    position: relative;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, background-image 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 20px;
      width: 14px;
      height: 14px;
      transform: translateY(-50%);
      background-image: url(../img/common/btn-logo.png);
      background-size: cover;
    }

    &:hover {
      background-color: $secondary-text-color;
      color: $primary-text-color;
      &::before {
        background-image: url(../img/common/btn-hover.png);
      }
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 16px;
  //   height: 16px;
  //   background-image: url(../img/common/btn-hover.png);
  //   background-size: cover;
  // }

  // > span {
  //   display: inline-block;
  //   width: 13.82px;
  //   margin-left: 22px;
  //   line-height: 1;

  //   > img {
  //     position: relative;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }

  &.-colorGreen {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    background-color: $accent-color;
    color: $primary-text-color;
    font-size: 1.125rem;
    font-weight: 500;

    &:hover {
      opacity: 0.7;
    }
  }
}
